body {
    background-color:lightskyblue;
    font-size: 33px;
    text-align: center;
}

h1:hover {
    background-color: rgb(12, 240, 209);
    box-shadow: 0 12px 16px 0 rgba(0, 27, 27, 0.753),0 17px 50px 0 rgba(118, 26, 223, 0.74);
}

h1 {
    background-color: rgb(15, 65, 228);
    font-size: 50px;
}

button:hover {
    background-color: blue;
    box-shadow: 0 12px 16px 0 rgba(0,27, 27, 0.753),0 17px 50px 0 rgba(118, 26, 223, 0.74);
}
button {
    background-color: rgb(19, 228, 29);
    font-size: 33px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
